<h1>Edit or Update this Address fullapplication</h1>

<%= render "form", fullapplication: @fullapplication %>

<br>

<div>
  <%= link_to "Show this Address", @fullapplication %> |
  <%= link_to "Back to fullapplications", fullapplications_path %>
</div>
