<div id="<%= dom_id email %>">
  <p>
    <strong>Email:</strong>
    <%= email.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= email.comment %>
  </p>

  <p>
    <strong>People:</strong>
    <%= email.people_id %>
  </p>

</div>
